* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

body {
  font-family: "Times New Roman", sans-serif;
}

// ./src/Components
// Header.jsx

.header-container {
  z-index: 99;
  position: sticky;
  top: 0;
  background-color: #fff;
  padding: 30px 5%;
  box-shadow: 1px 0 5px;

  &--child {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      a {
        text-decoration: none;
        color: #000000;

        img {
          width: 80px;
          height: 60px;
          object-fit: cover;
          padding: 0;
          margin: 0;
        }
      }
    }

    ul {
      list-style-type: none;
      gap: 34px;
      font-size: 1.05rem;
      font-family: "Poppins", sans-serif;

      li {
        .non-active-styles {
          text-decoration: none;
          position: relative;
          color: #000000;

          &:hover::after {
            width: 60%;
          }

          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 1px;
            background-color: #000000;
            transition: width 0.3s ease;
          }
        }

        .active-styles {
          color: #000000;
          text-decoration: none;
          border-bottom: 1px solid #000000;
        }
      }
    }
  }
}

// Footer.jsx
.footer-container {
  padding: 1rem 10%;
  background-color: #454545;
  color: #ffffff;

  &--body {
    padding: 0 0 0.5rem 0;
    border-bottom: 5px solid #ffc26f;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &--description {
      h1 {
        font-size: 32px;
      }

      p {
        line-height: 1.9rem;
        text-align: justify;
        color: #b6b0b0;
        max-width: 380px;
      }
    }

    &--socialmedia {
      display: flex;
      gap: 2.2rem;

      img {
        width: 40px;
      }
    }

    &--links {
      h1 {
        font-size: 2rem;
        padding: 0 0 5px 0;
      }

      ul {
        font-size: 0.9rem;
        display: flex;
        flex-direction: column;
        gap: 4px;
      }
    }
  }

  &--foot {
    padding: 25px 0;

    p {
      text-align: center;
    }
  }
}

.no-container {
  height: 70vh;
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  &--child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    h1 {
      font-size: 64px;
    }

    button {
      background-color: #df8931;
      padding: 16px 32px;
      font-size: 20px;
      font-family: 'poppins', sans-serif;
      font-weight: 500;
      color: #fff;
      border-radius: 16px;
    }
  }
}

// ./src/Pages/Home
.home-container {
  &--hero {
    height: 514px;
  }

  // HomeAbout.jsx Component
  &--about {
    margin: 38px 10%;

    &--header {
      h1 {
        position: relative;
        font-size: 2.2rem;
        width: 100%;
        padding: 0 0 15px 0;
        margin: 0 0 35px 0;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 250px;
          height: 4px;
          background-color: #df8931;
        }
      }
    }

    &--body {
      display: flex;
      gap: 32px;

      img {
        max-width: 400px;
      }

      p {
        line-height: 40px;
        font-size: 20px;
        text-align: justify;
        font-family: "poppins", sans-serif;
      }
    }
  }

  // HomeJewelleries.jsx
  &--jewelleries {
    margin: 38px 10%;

    &--header {
      h1 {
        position: relative;
        font-size: 2.2rem;
        width: 100%;
        padding: 0 0 15px 0;
        margin: 0 0 35px 0;
        text-transform: uppercase;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 160px;
          height: 4px;
          background-color: #df8931;
        }
      }

      ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
      &--filter-bar {
        font-family: "poppins", sans-serif;
        display: flex;
        flex-wrap: wrap;
        gap: 32px;

        button {
          letter-spacing: 2px;
          width: 150px;
          background-color: #fbfbfb;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-radius: 5px;
          padding: 2px 10px;

          div {
            border-radius: 5px;
            background-color: #f2f2f2;
            width: 20px;
          }
        }
      }

      &--filter-bar-mobile {
        float: left;
        display: none;

        select {
          font-family: "poppins", sans-serif;
          font-size: 18px;
          font-weight: 500;
          border-radius: 8px;
          width: 250px;
          padding: 8px 12px;
        }
      }
    }

    &--body {
      margin-top: 90px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 24px;

      div {
        padding: 10px;
        width: 300px;
        background-color: #f3f3f3;
        border-radius: 16px;
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 2px;

        img {
          width: 100%;
          height: 250px;
          object-fit: cover;
          border-radius: 16px 16px 0 0;
        }

        span {
          margin: 20px 0;
          display: flex;
          flex-direction: column;
          column-gap: 30px;
          row-gap: 10px;
          justify-content: center;
          align-items: center;
          font-family: "poppins", sans-serif;

          .price {
            color: #df8931;
          }

          .carat-weight--container {
            display: flex;
            justify-content: space-around;
            text-transform: lowercase;
          }
        }

        .stock-status {
          text-align: center;
          margin: 32px 0;
        }

        .in {
          color: #63cf7d;
        }

        .out {
          color: #e93c3c;
        }
      }
    }
  }

  // HomeOffers.jsx
  &--offers {
    img {
      height: 617px;
      width: 100%;
    }
  }

  // HomeNewCollection.jsx
  &--new-collection {
    margin: 24px 10%;

    &--header {
      h1 {
        position: relative;
        font-size: 2.2rem;
        width: 100%;
        padding: 0 0 15px 0;
        margin: 0 0 35px 0;
        text-transform: uppercase;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 160px;
          height: 4px;
          background-color: #df8931;
        }
      }
    }

    &--body {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      &--image-collection {
        display: flex;
        justify-content: center;
        gap: 32px;

        .image-selection-section-2 {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
        }
      }

      button {
        background-color: #f5c16c;
        margin: 32px 0;
        padding: 8px 120px;
        font-size: 30px;
        border-radius: 5px;
      }
    }
  }

  // HomeJewelleryCollection.jsx
  &--jewellery-collection {
    img {
      width: 100%;
    }
  }
}

.product-container {
  margin: 24px 10%;
  font-family: "poppins", sans-serif;

  &--go-back {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4px;
  }

  &--details {
    margin: 64px 0;
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: stretch;

    &--image-container {
      display: flex;
      align-items: stretch;
      width: 400px;

      &--unselected-images {
        height: 300px;

        img {
          height: 100px;
          width: 100px;
          border: solid 1px #ffffff;
          cursor: pointer;
        }
      }

      &--selected-images {
        img {
          height: 300px;
          width: 300px;
          background-position: center;
        }
      }
    }

    &--info-container {
      max-width: 600px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      &--topic {
        h1 {
          font-size: 40px;
        }
      }

      &--category-and-availiability {
        display: flex;
        text-transform: capitalize;
        justify-content: space-between;
        font-size: 20px;

        p {
          .in-stock {
            color: #37ad23;
          }

          .out-of-stock {
            color: #e93c3c;
          }
        }
      }

      &--price {
        font-size: 30px;
        font-weight: 600;
        border-top: solid 2px #000000;
        border-bottom: solid 2px #000000;

        &--has-offer-price {
          display: flex;
          gap: 20px;
          flex-wrap: wrap;

          &--old {
            text-decoration: line-through;
          }
        }

        &--carat-and-weight {
          display: flex;
          justify-content: space-evenly;
          font-weight: 500;
          font-size: 24px;
        }
      }

      &--details {
        font-size: 20px;
      }
    }
  }

  &--similar {
    &--header {
      font-size: 40px;
      font-weight: 700;
    }

    &--body {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      &-products {
        display: flex;
        gap: 24px;

        div {
          margin: 24px 0;
          padding: 10px;
          width: 300px;
          background-color: #f3f3f3;
          border-radius: 16px;
          text-transform: uppercase;
          font-size: 20px;
          letter-spacing: 2px;

          img {
            border-radius: 16px 16px 0 0;
            width: 100%;
            height: 230px;
            object-fit: cover;
          }

          span {
            margin: 8px 0;
            display: flex;
            flex-direction: column;
            column-gap: 30px;
            justify-content: center;
            align-items: center;
            font-family: "poppins", sans-serif;

            .has-no-offer-price {
              color: #df8931;
            }

            .carat-weight--container {
              display: flex;
              justify-content: space-around;
            }
          }

          .has-no-offer-stock-status {
            text-align: center;
            margin: 32px 0;
          }

          .has-offer-price {
            color: #df8931;
            text-align: center;
            display: flex;
            flex-direction: column;

            &-old {
              text-decoration: line-through;
            }
          }

          .in {
            color: #63cf7d;
          }

          .out {
            color: #e93c3c;
          }
        }
      }

      &-category {
        height: 400px;
        width: 80%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        color: #df8931;
        background-color: #ece9e9;
        padding: 24px;
        border-radius: 16px;

        &--head {
          width: 100%;
          text-align: center;
          font-size: 48px;
          border-bottom: solid 4px #df8931;
        }

        &--body {
          width: 100%;
          text-align: center;
          height: 300px;
          font-size: 24px;
          display: flex;
          justify-content: space-around;
          flex-direction: column;
        }
      }
    }
  }
}

// ./src/Pages/About
// AboutCanvas.jsx
.about-container {
  &--body {
    &--bg {
      background-image: url(./assets/about-background.png);
      display: flex;
      justify-content: center;
      align-items: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 40% 0%;
      width: 100%;
      height: 347px;

      h1 {
        font-size: 4rem;
        color: #ffffff;
        text-align: center;
      }
    }

    &--about {
      margin: 24px 12%;

      p {
        font-size: 22px;
        text-align: justify;
        color: #3a3939;
      }
    }
  }

  &--chairman {
    margin: 58px 12%;

    &--header {
      h1 {
        position: relative;
        font-size: 2.2rem;
        width: 100%;
        padding: 0 0 15px 0;
        margin: 0 0 35px 0;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 150px;
          height: 4px;
          background-color: #df8931;
        }
      }
    }

    &--body {
      display: flex;
      gap: 32px;

      &--avatar {
        width: 350px;

        img {
          width: 100%;
          border-radius: 999px;
        }

        .chairman-name {
          width: 100%;
          font-size: 20px;
          font-family: "poppins", sans-serif;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 20px auto;
        }
      }

      p {
        width: 1000px;
        text-align: justify;
        font-family: "poppins", sans-serif;
        font-size: 20px;
        line-height: 35px;
      }
    }
  }
}

.jewellery-container {
  &--head {
    background-image: url(./assets/jewellary-background.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 0%;
    width: 100%;
    height: 347px;

    h1 {
      font-size: 48px;
      color: #ffffff;
      text-align: center;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  &--filter {
    margin: 24px 10%;

    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 16px 0;
      box-shadow: 1.5px 1.5px 2px gray;

      li {
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
      }
    }

    //////////////////////////////////////////////////////////////////////////////////////////////////////////////
    select {
      display: none;
      width: 100%;
      font-family: "poppins", sans-serif;
      font-weight: 500;
      font-size: 18px;
      border-radius: 8px;
      border: solid 2px #000000;
      letter-spacing: 3px;
    }
  }

  &--slider {
    margin: 32px 0;
    height: 300px;
    object-fit: cover;
  }

  &--rings {
    margin-block: 24px;

    &-header {
      margin: 16px 10%;

      h1 {
        position: relative;
        font-size: 36px;
        font-weight: bold;
        width: 100%;
        margin: 0 0 35px 0;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 50px;
          height: 4px;
          background-color: #df8931;
        }
      }
    }

    &-products {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(
        auto-fill,
        minmax(30%, 1fr)
      ); // Adjust column size as needed
      grid-auto-rows: auto;
      grid-auto-flow: dense; // Pack grid items tightly
      justify-content: flex-end; // Justify items between grid tracks
      gap: 24px;

      a {
        display: block; // Ensure link takes up the entire space of its container
      }

      img {
        width: 800px;
        max-height: 400px;
        height: 100%;
        object-fit: cover; // Maintain aspect ratio while covering the container
      }
    }

    .ring-pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 16px 0;
      gap: 4px;

      button {
        border: solid 1px #000000;
        padding: 4px 12px;
        border-radius: 4px;
        font-family: monospace;
        font-size: 20px;
        font-weight: 500;
      }
      .selcted-page-pagination {
        background-color: #df8931;
        color: #f2f2f2;
        border: solid 2px #000;
      }
    }
  }

  &--bracelets {
    margin-block: 24px;

    &--header {
      margin: 16px 10%;

      h1 {
        position: relative;
        font-size: 36px;
        font-weight: bold;
        width: 100%;
        margin: 0 0 35px 0;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 50px;
          height: 4px;
          background-color: #df8931;
        }
      }
    }

    &-products {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(
        auto-fill,
        minmax(30%, 1fr)
      ); // Adjust column size as needed
      grid-auto-rows: auto;
      grid-auto-flow: dense; // Pack grid items tightly
      justify-content: flex-end; // Justify items between grid tracks
      gap: 24px;

      a {
        display: block; // Ensure link takes up the entire space of its container
      }

      img {
        width: 800px;
        max-height: 400px;
        height: 100%;
        object-fit: cover; // Maintain aspect ratio while covering the container
      }
    }
    .bracelet-pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 16px 0;
      gap: 8px;

      button {
        border: solid 1px #000000;
        padding: 8px 16px;
        border-radius: 4px;
        font-family: monospace;
        font-size: 20px;
        font-weight: 500;
      }
      .selcted-page-pagination {
        background-color: #df8931;
        color: #f2f2f2;
        border: solid 2px #000;
      }
    }
  }

  &--chains {
    margin-block: 24px;

    &--header {
      margin: 16px 10%;

      h1 {
        position: relative;
        font-size: 36px;
        font-weight: bold;
        width: 100%;
        margin: 0 0 35px 0;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 50px;
          height: 4px;
          background-color: #df8931;
        }
      }
    }

    &-products {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(
        auto-fill,
        minmax(30%, 1fr)
      ); // Adjust column size as needed
      grid-auto-rows: auto;
      grid-auto-flow: dense; // Pack grid items tightly
      justify-content: flex-end; // Justify items between grid tracks
      gap: 24px;

      a {
        display: block; // Ensure link takes up the entire space of its container
      }

      img {
        width: 800px;
        max-height: 400px;
        height: 100%;
        object-fit: cover;
        box-shadow: 1px 1px 4px 0.05px;
      }
    }
    .chain-pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 16px 0;
      gap: 8px;

      button {
        border: solid 1px #000000;
        padding: 8px 16px;
        border-radius: 4px;
        font-family: monospace;
        font-size: 20px;
        font-weight: 500;
      }
      .selcted-page-pagination {
        background-color: #df8931;
        color: #f2f2f2;
        border: solid 2px #000;
      }
    }
  }

  &--earrings {
    margin-block: 24px;

    &-header {
      margin: 16px 10%;

      h1 {
        position: relative;
        font-size: 36px;
        font-weight: bold;
        width: 100%;
        margin: 0 0 35px 0;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 50px;
          height: 4px;
          background-color: #df8931;
        }
      }
    }

    &-products {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(
        auto-fill,
        minmax(30%, 1fr)
      ); // Adjust column size as needed
      grid-auto-rows: auto;
      grid-auto-flow: dense; // Pack grid items tightly
      justify-content: flex-end; // Justify items between grid tracks
      gap: 24px;

      a {
        display: block; // Ensure link takes up the entire space of its container
      }

      img {
        width: 800px;
        max-height: 400px;
        height: 100%;
        object-fit: cover; // Maintain aspect ratio while covering the container
      }
    }
    .earring-pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 16px 0;
      gap: 8px;

      button {
        border: solid 1px #000000;
        padding: 8px 16px;
        border-radius: 4px;
        font-family: monospace;
        font-size: 20px;
        font-weight: 500;
      }
      .selcted-page-pagination {
        background-color: #df8931;
        color: #f2f2f2;
        border: solid 2px #000;
      }
    }
  }
}

.offers-container {
  &--head {
    background-image: url(./assets/offer-background.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 0%;
    width: 100%;
    height: 347px;

    h1 {
      font-size: 48px;
      color: #ffffff;
      text-align: center;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  &--body {
    margin: 24px 10%;

    &--para {
      font-size: 24px;
      text-align: center;
    }

    &--products {
      display: flex;
      justify-content: center;
      gap: 24px;
      flex-wrap: wrap;

      div {
        margin: 24px 0;
        padding: 10px;
        width: 300px;
        background-color: #f3f3f3;
        border-radius: 16px;
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 2px;

        img {
          width: 100%;
          height: 250px;
          border-radius: 16px 16px 0 0;
          object-fit: cover;
        }

        span {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: column;

          .name-and-stock-status {
            margin: 20px 0;
            display: flex;
            flex-wrap: wrap;
            column-gap: 30px;
            row-gap: 10px;
            justify-content: center;
            align-items: center;
            font-family: "poppins", sans-serif;
          }

          .has-offer-price {
            color: #df8931;
            text-align: center;
            display: flex;
            flex-direction: column;

            &--old {
              text-decoration: line-through;
            }
          }

          .carat-weight--container {
            display: flex;
            justify-content: space-around;
            text-transform: lowercase;
          }

          .in {
            color: #63cf7d;
          }

          .out {
            color: #e93c3c;
          }
        }
      }
    }
  }
}

.new-container {
  &--head {
    background-image: url(./assets/new-background.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 0%;
    width: 100%;
    height: 347px;

    h1 {
      font-size: 48px;
      color: #ffffff;
      text-align: center;
      font-weight: 600;
      text-transform: uppercase;
      font-family: "poppins", sans-serif;
    }
  }

  &--body {
    margin: 24px 10%;

    &--para {
      font-size: 20px;
      text-align: justify;
    }

    &--more {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      align-items: center;
      justify-content: center;

      div {
        min-width: 300px;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 16px;
        margin: 32px 0;

        img {
          width: 100%;
          height: 500px;
          border-radius: 16px;
          object-fit: cover;
        }

        button {
          font-size: 24px;
          background-color: #ffc26f;
          border-radius: 6px;
          padding: 8px 32px;
        }
      }
    }
  }

  &--gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    margin: 64px 0;

    &-image-section-2 {
      display: flex;
      align-items: stretch;
      gap: 30px;

      .section-2 {
        display: flex;
        flex-direction: column;
        gap: 17px;
      }
    }
  }
}

// ./src/Service/ServiceCanvas
.service-container {
  &--head {
    background-image: url(./assets/service-background.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 0%;
    width: 100%;
    height: 347px;

    h1 {
      font-size: 48px;
      font-family: "poppins", sans-serif;
      color: #ffffff;
      text-align: center;
      font-weight: 600;
    }
  }

  &--body {
    margin: 32px 15%;
    display: flex;
    flex: 2;
    flex-wrap: wrap;
    gap: 64px;
    justify-content: center;

    &--child {
      img {
        width: 140px;
        height: 100px;
        margin: 16px auto;
      }

      p {
        width: 500px;
        text-align: center;
        font-size: 20px;
        color: #383838;
      }
    }
  }
}

// ./src/Contact/ContactCanvas
.contact-container {
  &--head {
    background-image: url(./assets/contact-background.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 0%;
    width: 100%;
    height: 347px;

    h1 {
      font-size: 48px;
      font-family: "poppins", sans-serif;
      color: #ffffff;
      text-align: center;
      font-weight: 600;
    }
  }

  &--body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 32px 0;
    flex-direction: column;

    &--contact-details {
      display: flex;
      flex-wrap: wrap;
      width: 80%;
      max-width: 700px;
      justify-content: space-between;
      align-items: self-start;

      div {
        display: flex;
        justify-content: center;
        gap: 8px;
        align-items: self-start;
        flex-direction: column;
        .type {
          font-weight: bold;
          font-size: 20px;
        }

        .detail {
          font-size: 18px;
        }
      }
    }

    form {
      min-width: 300px;
      max-width: 700px;
      width: 80%;
      .form-first-half {
        display: flex;

        div {
          display: flex;
          flex-direction: column;
          width: 50%;

          label {
            font-size: 20px;
          }

          input {
            border: none;
            border-bottom: solid 1px #000000;
            width: 95%;
          }

          // Removed the increment and decrement buttons
          input[type="number"]::-webkit-inner-spin-button,
          input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }
      }

      .form-second-half {
        margin: 16px 0;
        display: flex;
        flex-direction: column;
        gap: 16px;

        div {
          display: flex;
          flex-direction: column;

          label {
            font-size: 20px;
          }

          input {
            border: none;
            border-bottom: solid 1px #000000;
          }

          // Removed the increment and decrement buttons
          input[type="number"]::-webkit-inner-spin-button,
          input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }

        &-send {
          button {
            border: none;
            color: #000000;
            background: #ffc26f;
            border-radius: 6px;
            padding: 5px 0;
            font-size: 20px;
            letter-spacing: 2px;
          }
        }
      }
    }
  }
}

// Responsive

// Body

// Desktop Fix
@media screen and (max-width: 1301px) and (min-width: 1100px) {
  .home-container {
    // HomeAbout.jsx Component
    &--about {
      margin: 38px 10%;

      &--header {
        h1 {
          font-size: 2.2rem;
        }
      }

      &--body {
        width: 100%;
        display: flex;
        gap: 32px;

        .ab-img {
          background-image: url(./assets/home-about.png);
          background-size: cover;
          background-position: 20% 100%;
          background-repeat: no-repeat;
          min-width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            display: none;
          }
        }
      }
    }
  }
}

// Tablet
@media screen and (max-width: 1100px) {
  // Index
  .home-container {
    &--hero {
      height: 314px;
    }

    &--about {
      margin: 38px 10%;

      &--header {
        h1 {
          font-size: 01.5rem;
        }
      }

      &--body {
        width: 100%;
        display: block;
        gap: 32px;

        p {
          font-size: 1rem;
          line-height: 30px;
        }

        .ab-img {
          margin-bottom: 30px;
          background-image: url(./assets/home-about.png);
          background-size: cover;
          background-position: 20% 100%;
          background-repeat: no-repeat;
          width: 100%;
          height: 347px;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            display: none;
          }
        }
      }
    }

    &--offers {
      img {
        height: 317px;
      }
    }

    &--jewelleries {
      &--body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
      }
    }
  }

  // About
  .about-container {
    &--body {
      &--bg {
        background-position: 70% 90%;
      }
    }

    &--chairman {
      margin: 58px 12%;

      &--header {
        h1 {
          position: relative;
          font-size: 1.5rem;
          width: 100%;
          padding: 0 0 15px 0;
          margin: 0 0 35px 0;

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 150px;
            height: 4px;
            background-color: #df8931;
          }
        }
      }

      &--body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 32px;

        &--avatar {
          width: 350px;

          img {
            width: 100%;
            border-radius: 999px;
          }

          .chairman-name {
            width: 100%;
            font-size: 20px;
            margin: 20px auto;
          }
        }

        p {
          font-size: 20px;
          line-height: 35px;
        }
      }
    }
  }

  //Jewellery
  .jewellery-container {
    &--head {
      background-position: 70% 90%;
      height: 307px;
    }

    &--slider {
      margin: 32px 0;
      height: 200px;
    }
  }

  //single product
  .product-container {
    &--details {
      margin: 64px 0;
      display: flex;
      justify-content: center;
      gap: 60px;
      align-items: stretch;

      &--image-container {
        display: flex;
        align-items: stretch;
        width: 400px;

        &--unselected-images {
          height: 300px;

          img {
            height: 100px;
            width: 100px;
            border: solid 1px #ffffff;
            cursor: pointer;
          }
        }

        &--selected-images {
          img {
            height: 300px;
            width: 300px;
            background-position: center;
          }
        }
      }

      &--info-container {
        max-width: 600px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        &--topic {
          h1 {
            font-size: 40px;
          }
        }

        &--category-and-availiability {
          display: flex;
          text-transform: capitalize;
          justify-content: space-between;
          font-size: 20px;

          p {
            .in-stock {
              color: #37ad23;
            }

            .out-of-stock {
              color: #e93c3c;
            }
          }
        }

        &--price {
          font-size: 30px;
          font-weight: 600;
          border-top: solid 2px #000000;
          border-bottom: solid 2px #000000;

          &--has-offer-price {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;

            &--old {
              text-decoration: line-through;
            }
          }
        }

        &--details {
          font-size: 20px;
        }
      }
    }

    &--details {
      display: flex;
      flex-wrap: wrap;
      min-width: 100%;
      justify-content: center;
    }

    &--similar {
      &--header {
        font-size: 40px;
        font-weight: 700;
      }

      &--body {
        display: block;

        &-products {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
        }

        &-category {
          width: 100%;
          justify-content: center;
          &--head {
            width: 100%;
            text-align: center;
          }

          &--body {
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }
}

// Mobile
@media screen and (max-width: 430px) and (min-width: 300px) {
  // Index
  .home-container {
    &--hero {
      height: 214px;
    }

    &--about {
      &--body {
        p {
          font-size: 0.8rem;
          line-height: 25px;
        }

        .ab-img {
          height: 247px;
        }
      }
    }

    &--jewelleries {
      margin: 38px 10%;

      &--header {
        h1 {
          font-size: 1.5rem;
        }
      }

      &--body {
        div {
          img {
            width: 100%;
            border-radius: 16px 16px 0 0;
          }
        }
      }
    }

    &--offers {
      img {
        width: 100%;
        height: 217px;
      }
    }

    &--new-collection {
      margin: 50px 10%;

      &--header {
        h1 {
          font-size: 1.5rem;
        }
      }

      &--body {
        &--image-collection {
          gap: 12px;
        }

        button {
          background-color: #f5c16c;
          margin: 32px 0;
          padding: 8px 55px;
          font-size: 20px;
          font-weight: bold;
          border-radius: 5px;
        }
      }
    }
  }

  // About
  .about-container {
    &--body {
      &--bg {
        height: 147px;
        background-position: 70% 90%;

        h1 {
          font-size: 2.2rem;
        }
      }

      &--about {
        p {
          font-size: 15px;
        }
      }
    }

    &--chairman {
      margin: 58px 12%;

      &--header {
        h1 {
          font-size: 2rem;
        }
      }

      &--body {
        img {
          border-radius: 0;
        }

        gap: 20px;

        p {
          font-size: 15px;
          line-height: 30px;
        }
      }
    }
  }

  //Jewellery
  .jewellery-container {
    &--head {
      height: 147px;
      background-position: 70% 90%;

      h1 {
        font-size: 2.2rem;
      }
    }

    &--slider {
      margin: 32px 0;
      height: 200px;
    }
  }

  // Service
  .service-container {
    &--head {
      height: 147px;
      background-position: 70% 90%;

      h1 {
        font-size: 2.2rem;
      }
    }

    &--body {
      margin: 32px 0%;
      display: flex;

      &--child {
        img {
          width: 100px;
        }

        p {
          width: 300px;
          font-size: 15px;
        }
      }
    }
  }

  .offers-container--head {
    height: 147px;
  }

  .new-container--head {
    height: 147px;
  }

  // Contact
  .contact-container {
    &--head {
      height: 147px;
      height: 147px;
      background-position: 70% 90%;

      h1 {
        font-size: 2.2rem;
      }
    }

    &--body {
      flex-wrap: wrap-reverse;
      justify-content: center;

      &--contact-details {
        display: flex;
        flex-wrap: wrap-reverse;
        gap: 30px;
        margin: 50px 0;
        justify-content: space-evenly;
        align-items: self-start;
        flex-direction: column;

        div {
          .type {
            font-weight: bold;
            font-size: 24px;
          }

          .detail {
            font-size: 22px;
          }
        }
      }

      form {
        margin: 30px 20px;

        .form-first-half {
          display: flex;

          div {
            display: flex;
            flex-direction: column;
            width: 50%;

            label {
              font-size: 20px;
            }

            input {
              border: none;
              border-bottom: solid 1px #000000;
              width: 95%;
            }

            // Removed the increment and decrement buttons
            input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }
        }

        .form-second-half {
          margin: 16px 0;
          display: flex;
          flex-direction: column;
          gap: 16px;

          div {
            display: flex;
            flex-direction: column;

            label {
              font-size: 20px;
            }

            input {
              border: none;
              border-bottom: solid 1px #000000;
            }

            // Removed the increment and decrement buttons
            input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }

          &-send {
            button {
              border: none;
              color: #000000;
              background: #ffc26f;
              border-radius: 6px;
              padding: 5px 0;
              font-size: 20px;
              font-weight: bold;
              letter-spacing: 2px;
            }
          }
        }
      }
    }
  }

  .product-container {
    &--details {
      &--info-container {
        &--topic {
          h1 {
            font-size: 30px;
            font-weight: bold;
          }
        }

        &--category-and-availiability {
          margin-top: 20px;
          font-size: 15px;
        }

        &--price {
          margin-top: 20px;
          font-size: 18px;
        }

        &--details {
          margin-top: 20px;
          font-size: 14px;
        }
      }
    }

    &--details {
      display: flex;
      flex-wrap: wrap;
      min-width: 100%;
      justify-content: center;
    }

    &--similar {
      &--header {
        font-size: 40px;
        font-weight: 700;
      }

      &--body {
        display: block;

        &-products {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
        }

        &-category {
          &--head {
            width: 100%;
            text-align: center;
          }

          &--body {
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }
  .product-container--similar--body-category--head {
    font-size: 35px;
  }
}

// Header and Footer
@media screen and (max-width: 1000px) {
  // Header.jsx
  // .header-container {
  //   display: none;
  //   padding: 30px 5%;
  //   &--child {
  //     display: flex;
  //     justify-content: space-between;
  //     align-items: center;

  //     h1 {
  //       font-size: 2rem;

  //       a {
  //         text-decoration: none;
  //         color: #000000;
  //       }
  //     }

  //     ul {
  //       display: flex;
  //       list-style-type: none;
  //       gap: 34px;
  //       font-size: 1.05rem;
  //       font-family: "Poppins", sans-serif;

  //       li {
  //         .non-active-styles {
  //           text-decoration: none;
  //           position: relative;
  //           color: #000000;

  //           &:hover::after {
  //             width: 60%;
  //           }

  //           &::after {
  //             content: "";
  //             position: absolute;
  //             left: 0;
  //             bottom: 0;
  //             width: 0;
  //             height: 1px;
  //             background-color: #000000;
  //             transition: width 0.3s ease;
  //           }
  //         }

  //         .active-styles {
  //           color: #000000;
  //           text-decoration: none;
  //           border-bottom: 1px solid #000000;
  //         }
  //       }
  //     }
  //   }
  // }

  // Footer.jsx
  .footer-container {
    &--body {
      &--description {
        h1 {
          font-size: 32px;
        }

        p {
          line-height: 1.9rem;
        }
      }

      &--socialmedia {
        display: block;

        img {
          margin: 2rem 0;
          width: 40px;
        }
      }

      &--links {
        h1 {
          font-size: 1.5rem;
          padding: 0 0 5px 0;
        }

        ul {
          font-size: 0.7rem;
        }
      }
    }

    &--foot {
      padding: 25px 0;

      p {
        font-size: 15px;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .jewellery-container--filter select {
    display: block;
  }

  .jewellery-container--filter ul {
    display: none;
  }

  .home-container--jewelleries--header--filter-bar-mobile {
    display: block;
  }

  .home-container--jewelleries--header--filter-bar {
    display: none;
  }

  .footer-container {
    &--body {
      &--description {
        h1 {
          font-size: 32px;
        }

        p {
          line-height: 1.9rem;
          margin-bottom: 30px;
        }
      }

      &--socialmedia {
        width: 50%;
        gap: 50px;
        margin: 0;
        display: flex;
        justify-content: center;

        img {
          margin: 2rem 0;
          width: 40px;
        }
      }

      &--links {
        width: 30%;

        h1 {
          font-size: 1.5rem;
          padding: 0 0 5px 0;
        }

        ul {
          font-size: 0.7rem;
        }
      }
    }

    &--foot {
      padding: 25px 0;

      p {
        font-size: 10px;
        text-align: center;
      }
    }
  }
}

// Importing Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Times New Roman";
  src: url(/times\ new\ roman.ttf);
}
