* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

body {
  font-family: "Times New Roman", sans-serif;
}

// ./src/Components
// Header.jsx
.header-container {
  padding: 30px 5%;
  &--child {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: 2rem;

      a {
        text-decoration: none;
        color: #000000;
      }
    }

    ul {
      display: flex;
      list-style-type: none;
      gap: 34px;
      font-size: 1.05rem;
      font-family: "Poppins", sans-serif;

      li {
        .non-active-styles {
          text-decoration: none;
          position: relative;
          color: #000000;

          &:hover::after {
            width: 60%;
          }

          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 1px;
            background-color: #000000;
            transition: width 0.3s ease;
          }
        }

        .active-styles {
          color: #000000;
          text-decoration: none;
          border-bottom: 1px solid #000000;
        }
      }
    }
  }
}

// Footer.jsx
.footer-container {
  padding: 1rem 10%;
  background-color: #454545;
  color: #ffffff;

  &--body {
    padding: 0 0 0.5rem 0;
    border-bottom: 5px solid #ffc26f;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &--description {
      h1 {
        font-size: 32px;
      }

      p {
        line-height: 1.9rem;
        text-align: justify;
        color: #b6b0b0;
        max-width: 380px;
      }
    }

    &--socialmedia {
      display: flex;
      gap: 2.2rem;

      img {
        width: 40px;
      }
    }

    &--links {
      h1 {
        font-size: 2rem;
        padding: 0 0 5px 0;
      }

      ul {
        font-size: 0.9rem;
        display: flex;
        flex-direction: column;
        gap: 4px;
      }
    }
  }

  &--foot {
    padding: 25px 0;

    p {
      text-align: center;
    }
  }
}

// ./src/Pages/Home
.home-container {
  .home-container--hero {
    height: 514px;
  }
  // HomeAbout.jsx Component
  &--about {
    margin: 38px 10%;

    &--header {
      h1 {
        position: relative;
        font-size: 2.2rem;
        width: 100%;
        padding: 0 0 15px 0;
        margin: 0 0 35px 0;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 250px;
          height: 4px;
          background-color: #df8931;
        }
      }
    }
    &--body {
      display: flex;
      gap: 32px;
      img {
        max-width: 592px;
      }
      p {
        line-height: 40px;
        font-size: 20px;
        text-align: justify;
        font-family: "poppins", sans-serif;
      }
    }
  }

  // HomeJewelleries.jsx
  &--jewelleries {
    margin: 38px 10%;
    &--header {
      h1 {
        position: relative;
        font-size: 2.2rem;
        width: 100%;
        padding: 0 0 15px 0;
        margin: 0 0 35px 0;
        text-transform: uppercase;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 160px;
          height: 4px;
          background-color: #df8931;
        }
      }

      &--filter-bar {
        font-family: "poppins", sans-serif;
        display: flex;
        gap: 32px;

        button {
          letter-spacing: 2px;
          width: 150px;
          background-color: #fbfbfb;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-radius: 5px;
          padding: 2px 10px;

          div {
            border-radius: 5px;
            background-color: #f2f2f2;
            width: 20px;
          }
        }
      }
    }

    &--body {
      display: flex;
      justify-content: space-between;

      div {
        margin: 24px 0;
        padding: 10px;
        width: 300px;
        background-color: #f3f3f3;
        border-radius: 16px;
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 2px;

        img {
          border-radius: 16px 16px 0 0;
        }

        span {
          margin: 20px 0;
          display: flex;
          justify-content: space-between;
          font-family: "poppins", sans-serif;

          .price {
            color: #df8931;
          }
        }

        .stock-status {
          text-align: center;
margin: 32px 0;
        }

        .in {
          color: #162DFE;
        }

        .out {
          color: #E93C3C;
        }
      }
    }
  }

  // HomeOffers.jsx
  &--offers {
    img {
      height: 617px;
    }
  }

  // HomeNewCollection.jsx
  &--new-collection {
    &--header {
      h1 {
        font-size: 32px;
        font-family: "poppins", sans-serif;
        padding: 2rem 0;
        font-weight: bold;
        text-align: center;
      }
    }
  }

  // HomeJewelleryCollection.jsx
  &--jewellery-collection {
    img {
      width: 100%;
    }
  }
}

// ./src/Pages/About
// AboutCanvas.jsx
.about-container {
  &--body {
    &--bg {
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url(./assets/about-background.png);
      height: 347px;
      background-repeat: no-repeat;

      h1 {
        font-size: 4rem;
        color: #ffffff;
        text-align: center;
      }
    }

    &--about {
      margin: 24px 12%;

      p {
        font-size: 22px;
        text-align: justify;
        color: #3a3939;
      }
    }
  }

  &--chairman {
    margin: 58px 12%;

    &--header {
      h1 {
        position: relative;
        font-size: 2.2rem;
        width: 100%;
        padding: 0 0 15px 0;
        margin: 0 0 35px 0;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 150px;
          height: 4px;
          background-color: #df8931;
        }
      }
    }

    &--body {
      display: flex;
      gap: 32px;

      &--avatar {
        width: 350px;

        img {
          width: 100%;
          border-radius: 999px;
        }
        .chairman-name {
          width: 100%;
          font-size: 20px;
          font-family: "poppins", sans-serif;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 20px auto;
        }
      }

      p {
        width: 1000px;
        text-align: justify;
        font-family: "poppins", sans-serif;
        font-size: 20px;
        line-height: 35px;
      }
    }
  }
}

// ./src/Service/ServiceCanvas
.service-container {
  &--head {
    background-image: url(./assets/service-background.png);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 347px;
    background-repeat: no-repeat;

    h1 {
      font-size: 48px;
      font-family: "poppins", sans-serif;
      color: #ffffff;
      text-align: center;
      font-weight: 600;
    }
  }

  &--body {
    margin: 32px 15%;
    display: flex;
    flex: 2;
    flex-wrap: wrap;
    gap: 64px;
    justify-content: center;

    &--child {
      img {
        width: 160px;
        margin: auto;
      }

      p {
        width: 500px;
        text-align: center;
        font-size: 20px;
        color: #383838;
      }
    }
  }
}

// ./src/Contact/ContactCanvas
.contact-container {
  &--head {
    background-image: url(./assets/contact-background.png);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 347px;
    background-repeat: no-repeat;

    h1 {
      font-size: 48px;
      font-family: "poppins", sans-serif;
      color: #ffffff;
      text-align: center;
      font-weight: 600;
    }
  }

  &--body {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    width: 100%;
    margin: 32px 0;

    &--contact-details {
      display: flex;
      justify-content: space-evenly;
      align-items: self-start;
      flex-direction: column;

      div {
        .type {
          font-weight: bold;
          font-size: 24px;
        }

        .detail {
          font-size: 22px;
        }
      }
    }

    form {
      width: 40%;

      .form-first-half {
        display: flex;

        div {
          display: flex;
          flex-direction: column;
          width: 50%;

          label {
            font-size: 20px;
          }

          input {
            border: none;
            border-bottom: solid 1px #000000;
            width: 95%;
          }

          // Removed the increment and decrement buttons
          input[type="number"]::-webkit-inner-spin-button,
          input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }
      }

      .form-second-half {
        margin: 16px 0;
        display: flex;
        flex-direction: column;
        gap: 16px;
        div {
          display: flex;
          flex-direction: column;

          label {
            font-size: 20px;
          }

          input {
            border: none;
            border-bottom: solid 1px #000000;
          }
          // Removed the increment and decrement buttons
          input[type="number"]::-webkit-inner-spin-button,
          input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }

        &-send {
          button {
            border: none;
            color: #000000;
            background: #ffc26f;
            border-radius: 6px;
            padding: 5px 0;
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 2px;
          }
        }
      }
    }
  }
}

// Importing Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Times New Roman";
  src: url(/times\ new\ roman.ttf);
}
